body {
    background-color: #B9B8B4;
    text-align: center;
    overflow-x: hidden;
}


p {
    font-family: ralewayLight;
    font-size: 0.8em;
}

h1 {
    font-family: ralewayLight;
    font-size: 3em;
}

h2 {
    font-family: didot;
    font-size: 1.1em;
}

h3 {
    font-family: robotoRegular;
    font-size: 1.1em;
}


img {
    max-width: 100%;
}


.liste {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.special {
    position: relative;

}

.maps {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr;
}

.special h3 {
    position: absolute;
    top: 10%;
    text-align: center;
    width: 50%;
    left: 20%;
    background-color: #B4A1A0;
    height: 15%;
    border-radius: 0%;
}

/*----Text Typer---*/

@font-face {
    font-family: ralewayRegular;
    src: url(raleway/raleway-regular.ttf);
}

@font-face {
    font-family: ralewayLight;
    src: url(raleway/raleway-light.ttf);
}


@font-face {
    font-family: didot;
    src: url(didot/didot.ttc);
}

@font-face {
    font-family: robotoRegular;
    src: url(roboto/roboto-regular.ttf);
}

/*    Nav header */

#nav_kurv {
    display: grid;
    grid-template-columns: 4fr 4fr 2fr;
    grid-template-areas: "menu logo kurv";
}


/*-jeg kan ikke se #nav-kurv nogle steder---*/

#logo {
    background-image: url(img/logo_sort.svg);
    grid-area: logo;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}

#kurv {
    background-color: #B4A1A0;
    grid-area: kurv;
}


#nav_some {
    display: grid;
    grid-template-columns: 8fr 8fr 1fr 1fr;
    grid-template-areas: "menu logo face insta";
}

.facebook_logo {
    background-color: #47505b;
    grid-area: face;
}

.instagram_logo {
    background-color: #696969;
    grid-area: insta;
}

/*------ FOOTER FOOTER FOOTER ------*/

footer {
    background-color: #47505B;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "adresse aabningstider kontakt";
}

.adresse {
    grid-area: adresse;
}

aabningstider {
    grid-area: aabningstider;
}

kontak {
    grid-area: kontakt;
}

footer p {
    color: white;
}

footer h2 {
    color: white;
}




/*    Menu  */

#menu a {
    text-decoration: none;
    color: #070004;
    display: block;
    vertical-align: middle;
    font-family: ralewayLight;
    transition: color 0.3s ease;
}

#menu a:hover {
    color: #b4a1a0;
}

#menuToggle {
    display: block;
    position: fixed;

    /*Radius*/
    width: 50px;
    height: 50px;

    /*Placering*/
    top: 20px;
    left: 30px;

    z-index: 4;

    -webkit-user-select: none;
    user-select: none;
    background-color: #d0d0d0;
    border: 2px;
    border-color: #070004;
    border-style: solid;
    border-radius: 50%;
}

#menuToggle input {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;

    cursor: pointer;

    opacity: 0;
    z-index: 5;

}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-left: 8px;
    margin-bottom: 5px;
    position: relative;

    background: #070004;
    border-radius: 10px;

    z-index: 4;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

.first {
    margin-top: 14px;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #070004;
}


#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}


#menu {
    position: fixed;
    width: 300px;
    height: 100vh;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #d0d0d0;
    list-style-type: none;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 14px;
}


#menuToggle input:checked ~ ul {
    transform: none;
}

.testdok {
    width: 100%;
    text-align: center;
}


/* Style til om.html*/

#knapper {
    display: grid;
}

button {
    background-color: #B4A1A0;
}



/*    Infografik     */

#info_grafik {
    display: grid;
    grid-template-columns: 1fr;
    grid-area: "infografik";
    background-color: #47505B;
}

/*    lav id eller class til infografik og giv den grid-area "infografik"*/

/*    Holdet     */

#holdet {
    background-image: url(img/omholdet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "tekst tekst billede";
}



/*    Infografik     */

#info_grafik {
    display: grid;
    grid-template-columns: 1fr;
    grid-area: "infografik";
    background-color: #47505B;
}

/*    lav id eller class til infografik og giv den grid-area "infografik"*/

/*    Holdet     */

/*#holdet {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "tekst";
    background-color: rgb(185, 184, 180);
}*/

#tekst_hold {
    grid-area: tekst;
    background-color: rgba(208, 208, 208, 0.54);


}

#billede_hold {
    grid-area: billede;
    background-color: #ffffff;
}

/*  Sektion samarbejdspartnere */

#samarbejde {
    background-image: url(img/prismadhus.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "billede billede tekst";
}




#billede_samarbejde {
    grid-area: billede;
}

#tekst_samarbejde {
    grid-area: tekst;
    background-color: rgba(208, 208, 208, 0.54);

}


/* ---INPUT BESTILLING.HTML--- */

input {
    width: 80%;
    height: 2vw;

}

.content {
    color: white;
}

input[type=text]:focus {
    border: 3px solid red;
}

input[type=textarea] {
    height: 5vw;
}

.signupbtn {
    width: 200px;
    height: 50px;
    font-size: 10px;
    padding: 2px;
    background: #B4A1A0;
    color: white;
    cursor: pointer;
}

.signupbtn :hover {
    background: #47505b;
    color: black;
}
