body {
    background-color: #B9B8B4;
    text-align: center;
}

p {
    font-family: ralewayLight;
    font-size: 1em;
}

h1 {
    font-family: ralewayLight;
    font-size: 3em;
}

h2 {
    font-family: didot;
    font-size: 2em;
}

h3 {
    font-family: robotoRegular;
    font-size: 1.5em;
}


img {
    max-width: 100%;
}


/*----Text Typer---*/

@font-face {
    font-family: ralewayRegular;
    src: url(raleway/raleway-regular.ttf);
}

@font-face {
    font-family: ralewayLight;
    src: url(raleway/raleway-light.ttf);
}


@font-face {
    font-family: didot;
    src: url(didot/didot.ttc);
}

@font-face {
    font-family: robotoRegular;
    src: url(roboto/roboto-regular.ttf);
}
