body {
    background-color: #B9B8B4;
    text-align: center;
}


p {
    font-family: ralewayLight;
    font-size: 0.8em;
}

h1 {
    font-family: ralewayLight;
    font-size: 3em;
}

h2 {
    font-family: didot;
    font-size: 1.1em;
}

h3 {
    font-family: robotoRegular;
    font-size: 1.1em;
}


img {
    max-width: 100%;
}


.liste {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.special {
    position: relative;

}

.special h3 {
    position: absolute;
    top: 10%;
    text-align: center;
    width: 50%;
    left: 20%;
    background-color: aqua;
    height: 15%;
    border-radius: 0%;
}

/*----Text Typer---*/

@font-face {
    font-family: ralewayRegular;
    src: url(raleway/raleway-regular.ttf);
}

@font-face {
    font-family: ralewayLight;
    src: url(raleway/raleway-light.ttf);
}


@font-face {
    font-family: didot;
    src: url(didot/didot.ttc);
}

@font-face {
    font-family: robotoRegular;
    src: url(roboto/roboto-regular.ttf);
}

/*    Nav header */

#nav_kurv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "menu logo kurv";
}

#logo {
    background-color: gray;
    grid-area: logo;
}

#kurv {
    background-color: #47505b;
    grid-area: kurv;
}


    #nav_some{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: "menu logo face insta";
    }

    #logo{
        background-color: gray;
        grid-area: logo;
    }

    .facebook_logo{
        background-color: #47505b;
        grid-area: face;
    }

    .instagram_logo{
        background-color: #696969;
        grid-area: insta
    }



/*    Menu  */

#menu a {
    text-decoration: none;
    color: black;
    display: block;
    vertical-align: middle;
    font-family: grotesk;
    transition: color 0.3s ease;
}

#menu a:hover {
    color: #f4912d;
}

#menuToggle {
    display: block;
    position: fixed;

    /*Radius*/
    width: 50px;
    height: 50px;

    /*Placering*/
    top: 20px;
    left: 30px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
    background-color: #F5F0E4;
    border: 2px;
    border-color: #334151;
    border-style: solid;
    border-radius: 50%;
}

#menuToggle input {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;

    cursor: pointer;

    opacity: 0;
    z-index: 2;

}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-left: 8px;
    margin-bottom: 5px;
    position: relative;

    background: #334151;
    border-radius: 10px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

.first {
    margin-top: 14px;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #282f43;
}


#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}


#menu {
    position: fixed;
    width: 300px;
    height: 100vh;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #FBFAF2;
    list-style-type: none;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);


    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 14px;
}


#menuToggle input:checked ~ ul {
    transform: none;
}

.testdok {
    width: 100%;
    text-align: center;
}


/* Style til om.html*/


    #knapper {
        display: grid;
    }

    button {
        background-color: #B4A1A0
    }


    /*    Infografik     */

    #info_grafik {
        display: grid;
        grid-template-columns: 1fr;
        grid-area: "infografik";
        background-color: #47505B
    }

    /*    lav id eller class til infografik og giv den grid-area "infografik"*/

    /*    Holdet     */

    #holdet {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "tekst billede";
        background-color: rgb(185, 184, 180);
    }

    #tekst_hold {
        grid-area: tekst;

    }

    #billede_hold {
        grid-area: billede;
        background-color: #ffffff
    }

    /*  Sektion samarbejdspartnere */

    #samarbejde {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "billede tekst";
        background-color: #D0D0D0;
    }

    #billede_samarbejde {
        grid-area: billede;
        background-color: rgba(208, 208, 208, 0.54);
    }

    #tekst_samarbejde {
        grid-area: tekst;
    }


